*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --outer-shadow: 
    0 0 0.1vw 0.4vw #e0f7fa,
    0 0 0.4vw 0.6vw #ff3c00,
    0 0 1vw 0.4vw #ed662d;
}

header{
    background-color: black;
    color: white;
    height: 10vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content:right;
    flex-direction: row;
    position: sticky;
    top:0px;
    
}

#div1{
    /* display: inline-block; */
    padding-left: 3vw;
    /* padding-right: 60vw; */
    margin-right: auto;
}

.div2{
    /* display: inline-block; */
    padding-right: 3vw;
    padding-left: 3vw;
    /* float: left; */
    margin: 0 10px;
}

a{
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.border-neon{
    padding: 2rem;
    margin: 2rem;
    margin-top: 3rem;
    border-radius: 1rem;
}

#support{
    height: 17vh;
    background-color: pink;
    text-align: center;
    box-shadow: var(--outer-shadow);
}

.pink-support{
    font-size: 1.5rem;
}

#a2{
    color: blue;
    animation-name: textBlink;
    animation: textBlink 1s linear infinite;
}

@keyframes textBlink{
    0%{opacity: 0;}
    50%{opacity: .5;}
    100%{opacity: 1;}
    }

body{
    background-color: black;
}

main{
    margin: 9vw;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("images/website-background-3");
    /* opacity: 0.75 ; */
    color: white;
}

.div3{
    /* background-color: red; */
    /* display: inline-block; */
    height: auto;
    width: auto;
    text-align: center;
    /* top: 10vh; */
}

h1{
    padding: 1vw;
    font-size: 7vh;
}
p{
    padding: 2vw;
    font-size: 3vh;
}

li{
    list-style-type: none;
    padding: 2vw;
}

span{
    color: rgb(241, 50, 190);
}

button{
    padding: 1vw 3vw;
    margin: 1vw;
    margin-bottom: 4vw;
    font-size: 3vh;
    background-color: tomato;
    color: white;
    padding: 10px;
    
}

button:hover{
    background-color: rgb(50, 248, 50);
    border: 3px solid white;
    border-radius: 50px;
}

footer{
    margin-top: auto;
    padding: 3vw;
    background-color: #333;
    color: white;
    grid-template-rows: 2;
    grid-auto-rows: auto;
}

h2{
    padding-left: 2vw;
    color: orangered;
}

#footer_para{
    font-size: 17px;
}

.grid-container{
    display: grid;
    column-gap: 2vw;
    grid-template-columns: auto auto auto auto;
    /* background-color: #222; */
    /* padding: 10px; */
    padding-left: 2vw;
    padding-right: 2vw;
}

.grid-item{
    background-color: #444;
    border: 1px solid white;
    padding: auto;;
    text-align: center;
}

